<div class="flex flex-col">
  <div class="w-full h-full">

    <button (click)="adicionar()"
      class="bg-emerald-600 hover:bg-emerald-500 active:bg-emerald-700 disabled:bg-emerald-500 disabled:shadow-none disabled:cursor-not-allowed font-bold uppercase text-xs px-4 py-3 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150 text-white">Adicionar</button>
  </div>

  <div class="w-full h-full">
    <app-listar></app-listar>

  </div>

</div>
